body {
  font-family: "Roboto Regular", sans-serif;
  font-family: open-;
}
/* @font-face {
  font-family: Roboto-500;
  src: url(../fonts/);
}
Підключення шрифта з папки fonts */

.header {
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}
.header-nav {
}

.studio {
  color: black;
}
.header-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
}
.address-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-mail {
}
.address-tel {
}
.main {
}
/* section hero */
.hero {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: #2e2f42;
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* section 1 */
.feature1 {
}
.feature1-list {
  position: absolute;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 792px;
}
.feature1-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 156px;
  top: 792px;
}
.feature1-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature1-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section 2 */
.feature2 {
  position: absolute;
  width: 1128px;
  height: 412px;
  left: 156px;
  top: 1016px;
}
.feature2-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.feature2-list {
}
.feature2-item-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 156px;
  top: 1128px;
}
.feature2-item-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 540px;
  top: 1128px;
}
.feature2-item-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 924px;
  top: 1128px;
}
/* section 3 */
.feature3 {
  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;
}
.feature3-title {
}
.feature3-list {
}
.feature3-item {
}
.feature3-subtitle {
}
.footer {
}
.footer-text {
}
